{% extends 'base.html.twig' %}

{% block title %}Gérer vos todo Lists{% endblock %}

{% block body %}
{% include 'nav/navbar.html.twig'%}

<ul class="flex">
<br>
  <li class="flex-1 mr-2">
    
  </li>
  <li class="flex-1 mr-2">
   <a class="text-center block border border-green-500 rounded py-2 px-4 bg-green-500 hover:bg-green-700 text-white" href="{{path('app.todo_create')}}">Ajouter</a>
  </li>
  <li class="text-center flex-1">
   
  </li>
</ul>
<br>
<div class="grid grid-cols-3 gap-4">
{% for todo in todos %}

<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
	<div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
      <h1 class="h3 mb-3 font-weight-normal">{{ todo.name }} - {{todo.datefin|date("d/m/Y")}} </h1> 
      <h3 class="h3 mb-3 font-weight-normal">Topic : {{ todo.topic }}</h3>
 
     <div class="flex mb-4 items-center">
                   
                
              
            </div>
        <div>
     
             <div class="flex mb-4 items-center">
                <p class="w-full text-grey-darkest">{{ todo.contenu }}</p>   {% if todo.isAdmin %}   <a class="text-center block border border-red-500 rounded py-2 px-4 bg-red-500 hover:bg-red-700 text-white" href="{{ path('app.todo_delete', {'id': todo.id } ) }}">Supprimer</a>{% endif %}
            </div>
             <div class="flex mb-4 items-center">
            <p class="w-full text-grey-darkest"></p>  {% if todo.isAdmin %}   <a class="text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white" href="{{ path('app.todo_modify', {'id': todo.id } ) }}">Modifier</a>{% endif %}
             </div>
        </div>
        
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
